{% extends "blog/layouts.html" %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Sign In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info post-up" type="submit">Sign In</button>
                <small>
                    <a href="{% url 'password_reset' %}" class="password-lg">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top border-2 pt-0 mt-2">
            <small class="text-muted">
                Create an account. <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}